.input-box{
    width: 650px;
    height: 150px;
    /* border: 1px solid; */
    margin:50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 231, 238);
    position: absolute;
    left: 0;right: 0;bottom: 0;top: 0;
    border-radius: 20px;
}

input{
    width: 60%;
    margin:30px ;
    height: 40px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
}

.add-btn{
    /* display: inline; */
    width: 20%;
    margin: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 15px;
    cursor: pointer;
}

.add-btn:hover{
    background-color: black;
    color: antiquewhite;
}